html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
h1{
    text-align: center;
}
main{
    padding: 0 2%;
    min-height: 20rem;
}
main form{
    max-width: 700px;
    margin: 0 auto;
}
form label{
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
}
form fieldset{
    margin: 0.2rem 0;
    border: 1px solid lightblue;
    padding: 0.1rem 0.5rem;
}
b{
    color: blue;
}

form div{
    padding-top: 0.5rem;
    font-size: 1rem;
}
form input[type="radio"]{
    margin: 0.1rem;
    padding: 3rem;
    display: block;
}
.inquiry label{
    /* background-color: rgba(72, 0, 94, 0.13); */
    margin: 0.2rem;
    display: flex;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form select, textarea {
    display: block;
    padding: 0.75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

form button{
    text-align: center;
    border: none;
    width: 96%;
    max-width: 400px;
    padding: 0.8rem;
    display: block;
    margin: 0.5rem;
    background-color: rgba(204, 176, 140, 0.856);
}