/* :root {
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{font-size: 1.2rem;}
a{
    text-decoration: none;
}

/* header,main,footer,nav{

} */
header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns:120px 1fr 2fr;
    background-color: #333;
}

.raftinglogo img{
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: acme, Arial, sans-serif;
}

nav {
	text-align: right;
}
li{
    list-style: none;
}
.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}
.navigation a {
	display: block;
	padding: 20px;
	text-decoration: none;
    background-color: black;
}
.hero{
    position: relative;
}
article{
    position: absolute;
    width: 100%;
    top: 100px;
    right: 3px;
    display: block;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

article{
    color: rgb(196, 83, 83);
    width: 400px;
    height: 200px;
    display: inline;
}
.hero article img{
    width: 200px;
    float: right;
}
.dynasty{
    text-align: center;
}
section{
    margin: 1rem;
    padding: 1rem;
}
.history h2 {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.history img{
    width: 100%;
    height: auto;
}
.history{
    display: grid;
    grid-template-columns: 2fr 300px 2fr;
    border: 1px solid green;
    margin: 0 auto;
}
.thomas{
    text-align: center;
}
.tom{
   display:grid; 
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tom img{
    width: 200px;
}
footer p{
    text-align: center;
}