:root {
    --primary-color:--#8ecae6;
    --secondary-color:#B6464F;
    --accent1-color:hsl(0, 0%, 100%);
    --accent2-color:#B3CDD1;

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
    --nav-background-color:#8ecae6;
    --nav-link-color:#B3CDD1;
    --nav-hover-link-color:#B6464F;
    --nav-hover-background-color:#6044D5;
}

p{font-size: 1.2rem;}
a{
    text-decoration: none;
}

header,main,footer,nav{
    width: 740px;
    margin: 2rem auto;
}

.hero{
    position: relative;
}
article{
    position: absolute;
    width: 100%;
    top: 100px;
    right: 3px;
    display: block;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

article{
    color: white;
    width: 400px;
    height: 200px;
    display: inline;
}
.hero article img{
    width: 200px;
    float: right;
}
.dynasty{
    text-align: center;
}