
:root {
    --primary-color:#8ecae6;
    --secondary-color:#B6464F;
    --accent1-color:#6044D5;
    --accent2-color:#B3CDD1;

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    --heading-font: 'Roboto', serif;
    -- paragraph-font:'Roboto, seriff;
    -- nav-background-color:;
    -- nav-link-color:;
    -- nav-hover-link-color:;
    -- nav-hover-background-color:;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: var(--paragraph-frot);
    max-width: 960px; 
    margin: 0 auto;
    padding: 20px;
}
header, main, footer{
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
nav{
    margin: 25px;
    padding: 25px;
    column-gap: 10px;
    
} 
img{
      width: 200px;
}
nav {
    background-color:var(--accent1-color);
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


nav a {
    color:var(nav--link--color);
    text-decoration: none;
    padding: 1rem;
}
a{
    background-color: rgb(141, 197, 197);
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
